:root {
  --bg-color: #1e1e2e;
  --bg-mantle-color: #181825;
  --fg-color: #cdd6f4;
  --link-color: #89b4fa;
  --hover-color: #a6e3a1;
}

body {
  max-width: 750px;
  font-family: sans-serif;
  background-color: var(--bg-color);
  color: var(--fg-color);;
}

a, a:visited {
  color: var(--link-color);
}

a:hover {
  color: var(--hover-color);
  text-decoration: underline;
  border-bottom: 0px;
}

header {
  display: flex;
  justify-content: space-between;
}

header div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#title {
  margin-top: 0px;
  margin-bottom: 0px;
}

#title a {
  background: linear-gradient(120deg, var(--link-color), #a6e3a1);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  margin-top: 0px;
}

.articles {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article {
  display: flex;
  justify-content: space-between;
}

#post-header {
  margin-bottom: 15px;
}

pre {
  padding: 0.5em;
  background-color: var(--bg-mantle-color) !important;
}

code {
  padding: 0;
  background-color: var(--bg-mantle-color);
}

ul .highlight, ol .highlight {
  margin-left: -40px;
}

blockquote {
  background-color: var(--bg-mantle-color);
}

.back-to-top {
  display: block;
  text-align: right;
  margin-top: 4rem;
}