body {
  max-width: 750px;
  color: #fbf1c7;
  background-color: #282828;
  font-family: sans-serif;
}

a, a:visited {
  color: #8ec07c;
}

a:hover {
  color: #689d6a;
  text-decoration: underline;
  border-bottom: 0px;
}

header {
  display: flex;
  justify-content: space-between;
}

header div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#title {
  margin-top: 0px;
  margin-bottom: 0px;
}

#title a {
  color: #fbf1c7;
}

#posts {
  list-style: none;
  padding-left: 0px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 5px
}

.article {
  display: grid;
  grid-template-columns: fit-content(250px) 1fr;
  grid-row-gap: 4px;
  grid-column-gap: 15px;
}

#theme-toggle {
  width: 18px;
  margin-left: 5px;
  cursor: pointer;
}

#post-header {
  margin-bottom: 15px;
}

pre {
  background-color: #323232 !important;
  padding: 0.5em;
}

code {
  padding: 0;
}