body {
  max-width: 750px;
  font-family: sans-serif;
}

a, a:visited {
  color: #9ab8d4;
}

a:hover {
  color: #ccdff5;
  text-decoration: underline;
  border-bottom: 0px;
}

header {
  display: flex;
  justify-content: space-between;
}

header div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#title {
  margin-top: 0px;
  margin-bottom: 0px;
}

#title a {
  color: #c9c9c9;
}

h1 {
  margin-top: 0px;
}

.articles {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article {
  display: flex;
  justify-content: space-between;
}

#post-header {
  margin-bottom: 15px;
}

pre {
  padding: 0.5em;
}

.back-to-top {
  display: block;
  text-align: right;
  margin-top: 4rem;
}